@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --cal-poly-green: #11492Bff;
  --vibrant-green: #5BBB7D;
  --dark-green: #062012ff;
  --night: #06170Fff;
  --eerie-black: #0B1A14ff;
  --dark-green-2: #0F3321ff;
  --dark-green-3: #0C261B;
  --gold: #D2A646;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
  font-family:'JetBrainsMono';
  src: url(/hoard-and-heart/public/fonts/JetBrainsMono-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--vibrant-green);
  background: var(--night);
  font-family: Arial, Helvetica, sans-serif, JetBrainsMono;
}

ol{
  font-family: JetBrainsMono;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header{
  border-color: white;
}